@model bloodsaver.Models.HomeViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.8.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js">
    </script>
</head>




<h2 align="center">Members
     </h2>
<p align="center">All Members that you selected.</p>
<hr id="line"/>
<br />




@foreach (var items in Model.registration)
{
   Html.DisplayFor(modelitem=>items.gender);
}






<br />
