@model bloodsaver.Models.registration

@{
    ViewBag.Title = "Message";
}

<h2>Message Box</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
<head>
    <title></title>

    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cellno').css('border', '3px solid red');
           
            $('#TextArea1').hover(function () {

                $('#TextArea1').css('border', '3px solid Green');
            }).mouseout(function () {
                $('#TextArea1').css('border', '3px solid Grey');
            })
           
            
        });
    </script>
</head>
    <fieldset>

        <div align="center" id="z">

            <div class="editor-label">
              Message To : 
            </div>
            <br />
            <div class="editor-field">
                <input id="cellno" type="text" value=@Model.cellno/>
              
            </div>
            <br />
            <br />
            <div>
                Message By : 
            </div>
            <br />
            <div>
                <textarea id="TextArea1" rows="22" cols="150" ></textarea>
            </div>
            <br />
            <br />

            <p>
                <input id="btn" type="submit" value="Save" />
            </p>
        </div>

    </fieldset>
}


