@model bloodsaver.Models.retriving

<fieldset>
    <legend>citys</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.countryid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.countryid)
    </div>*@
</fieldset>

