

@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>

    $(document).ready(function () 
    {
    
        $('#x').click(function () {

            $('.dropdown-content').slideDown();



        })
        $('#x').mouseleave(function () {
            $('.dropdown-content').slideUp();
        })
    
   
    })

</script>



<!DOCTYPE html>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <style type="text/css">
        .dropbtn {
            background-color: #727272;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-left:650px;
        }
        dropbtn:hover .dropdown-content {
            display: block;
        }
        
        
        
        
         .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 210px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            color:black;
            margin-top:15px;
        }

            .dropdown-content a {
                color: black;
               
                display: block;
            }

                

        .dropdown:hover .dropdown-content {
            display: block;
        }

        /*.dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }*/

        .k{
            width:70%;
        }
        #s {
            margin-left: 13%;
            margin-right: 13%;
        }
        #con{
            background-color:lightgray;
            margin-left:13%;
            height:200px;
        }

        ul.topnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

            /* Float the list items side by side */
            ul.topnav li {
                float: left;
            }

                /* Style the links inside the list items */
                ul.topnav li a {
                    display: inline-block;
                   
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    transition: 0.3s;
                    font-size: 17px;
                }

                    /* Change background color of links on hover */
                    ul.topnav li a:hover {
                        background-color: #555;
                    }

                /* Hide the list item that contains the link that should open and close the topnav on small screens */
                ul.topnav li.icon {
                    display: none;
                }

        img {
            margin-right: 50px;
            display: block;
            max-width: 120px;
            max-height: 40px;
            width: auto;
            height: auto;
            border-radius: 40%;
            
        }
        #nas{
            margin-left:500px;
        }
        #ag{
            color:white;
        }
       

    </style>
</head>
<body>
  
    <div align="center">
       
       
        <ul class="topnav" id="myTopnav">
            <li><a style="color:white" href="#home">Home</a></li>
            <li><a style="color:white" href="#news">News</a></li>
            <li><a style="color:white" href="#contact">Contact</a></li>
            <li><a style="color:white" href="#about">About</a></li>

           
            
          
                
          
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>
    <hr id="s" />
  
</body>
</html>
